[Unit]
Description=Builds and install new kernel modules through DKMS
Documentation=man:dkms(8)
Wants=fedora-loadmodules.service
PropagatesReloadTo=fedora-loadmodules.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'dkms autoinstall --verbose --kernelver $(uname -r)'

[Install]
WantedBy=multi-user.target
